@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');



* {
    font-family: 'Poppins';
}

body{
    background-image: url(https://i.pinimg.com/originals/77/00/62/770062033ed9422b6ae652c6df95fafe.jpg);
   background-size: cover;